@import '../variables.scss';

.sort {
  position: relative;
  flex: 0 0 280px;

  @media (max-width: 996px) {
    flex: 0 0 50px;
    width: 100%;
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
      margin-right: 8px;
      transition: all 0.4s ease 0s;

      &.open {
        transform: rotate(180deg);
      }
    }

    b {
      margin-right: 8px;
    }

    span {
      color: $orange;
      border-bottom: 1px dashed $orange;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease 0s;
    transform: translateY(-20%);

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $orange;
        }
      }
    }

    &.open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      $open: true;
    }
  }
}

@if $open == true {
  .sort__label {
    display: none;
  }
}
